:root{
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    --tw-rotate: -12deg;
}

.projects-grid{
    margin-block: 2rem;
    display: grid;
    gap: 2rem;
    margin-bottom: 1.5rem;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    
    @media (min-width: 640px){
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin-bottom: 4rem;
    }
}

.project-card{
    position: relative;
    align-items: center;
    /* background-color: #23262d; */
    background-color: #fff;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    border-radius: .5rem;
    overflow: hidden;
    
    & .project-header{
        display: block;
        color: inherit;
        text-decoration: inherit;
        transition-property: transform;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .15s;

        &:hover{
            transform: scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        }

        & span{
            position: absolute;
            top: .5rem;
            left: 1rem;
            opacity: .7;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 2rem;
            transform: rotate(var(--tw-rotate));
            transition-property: transform;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            transition-duration: .15s;
        }
        
        &:hover span{
            --tw-scale-x: 2;
            --tw-scale-y: 2;
            top: 1.5rem;
            left: 3rem;
            transform: scaleX( var(--tw-scale-x) ) scaleY( var(--tw-scale-y) ) rotate(var(--tw-rotate));
            opacity: 1;
        }

        & img{
            width: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            border-radius: .5rem;
            overflow: hidden;
        }
    }
}

.project-info{
    padding: 1.25rem;

    & h2{
        color: rgb(17 24 39 / var(--tw-text-opacity));
        letter-spacing: -.025em;
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 2.5rem;

        & a{
            color: rgb(var(--accent-dark), var(--tw-text-opacity));
            transition-property: color;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            transition-duration: .15s;

            &:hover{
                color: rgb(var(--accent), var(--tw-text-opacity));
            }
        }
    }

    & p{
        color: rgb(31 41 55 / var(--tw-text-opacity));
        font-weight: 300;
    }

    & .project-badges{
        display: inline-flex;
        flex-wrap: wrap;
        gap: .5rem;

        & li{
            padding-block: .25rem;
            padding-inline: .5rem;
            background-color: rgb(243 244 246 / var(--tw-bg-opacity));
            color: rgb(75 85 99 / var(--tw-text-opacity));
            font-weight: 300;
            font-size: .75rem;
            line-height: 1rem;
            border-radius: 9999px;
        }
    }

    & .project-buttons{
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        margin-top: 1rem;
        & a{
            padding-block: .5rem;
            padding-inline: .75rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(255 255 255 / var(--tw-bg-opacity));
            color: rgb(0 0 0 / var(--tw-text-opacity));
            text-align: center;
            font-weight: 600;
            font-size: .75rem;
            line-height: 1rem;
            transition-property: background-color, color;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            transition-duration: .15s;
            border-width: 1px;
            border-style: solid;
            border-color: #0009;
            border-radius: .5rem;

            &:hover{
                background-color: #0000001a;
            }

            @media (min-width: 768px){
                font-size: 0.875rem;
                line-height: 1.25rem;
            }

            &.project-web{
                color: rgb(var(--accent-dark), var(--tw-text-opacity));
                border-color: rgb(var(--accent-dark), var(--tw-text-opacity));
                
                &:hover{
                    color: rgb(var(--accent), var(--tw-text-opacity));
                    background-color: rgb(var(--accent), 10%);
                }
                
                & svg{
                    --svg-stroke: rgb(var(--accent-dark), var(--tw-text-opacity));
                    --svg-fill: none;
                }
            }
            
            & svg{
                --svg-width: 1.5rem;
                --svg-height: 1.5rem;
                --svg-color: #000;
                --svg-fill: #000;
                --svg-stroke: none;
                margin-right: .25rem;
                border-radius: .25rem;

            }
        }
    }
}