---
import "../styles/footer.css"
---

<footer class="flex place-content-center">
    <section class="container text-center mt-8 p-10">
        <div class="flex gap-2 place-content-center">
            <p class="flex items-baseline gap-x-1 text-[0.8125rem]/6 text-gray-500">
                <a
                    class="group relative isolate flex items-center rounded-lg px-2 py-0.5 text-[0.8125rem]/6 font-medium text-black/30 transition gap-x-0.5 hover:text-purple-500 hover:scale-110"
                    href="https://twitch.tv/midudev"
                >
                    <svg class="icon">
                        <use xlink:href="public/svg/social-network.svg#svgTwitch"/>
                    </svg>
                    <span class="self-baseline text-black">twitch.tv/midudev</span>
                </a>
                <a
                    class="group relative isolate flex items-center rounded-lg px-2 py-0.5 text-[0.8125rem]/6 font-medium text-black/30 transition hover:text-sky-300 gap-x-0.5 hover:scale-110"
                    href="https://twitter.com/midudev"
                >
                    <svg class="icon">
                        <use xlink:href="public/svg/social-network.svg#svgTwitter"/>
                    </svg>
                    <span class="self-baseline text-black">@midudev</span>
                </a>
            </p>
        </div>
    </section>
</footer>