---
import "../styles/footer.css"
---

<footer class="">
    <section class="container">
        <div class="social-network">
            <p class="">
                <a
                    class="link-twitch"
                    href="https://twitch.tv/ztevenx100"
                >
                    <svg class="icon">
                        <use xlink:href="public/svg/social-network.svg#svgTwitch"/>
                    </svg>
                    <span class="self-baseline text-black">twitch.tv/ztevenx100</span>
                </a>
                <a
                    class="link-twitter"
                    href="https://twitter.com/ztevenx100"
                >
                    <svg class="icon">
                        <use xlink:href="public/svg/social-network.svg#svgTwitter"/>
                    </svg>
                    <span class="self-baseline text-black">@ztevenx100</span>
                </a>
            </p>
        </div>
    </section>
</footer>