<header>
    <h1>Proyectos en <span class="text-gradient">JavaScript</span></h1>
    <p class="instructions">
        ¡Hola soy <code>Pedro</code>! Y esta es un colección de proyectos.<br />
        Estos proyectos estan enteramente hechos con <strong>Html5, CSS3 y Javascript</strong>.
    </p>
</header>