---
import "../../styles/footer.css"
---

<footer class="footer-background">
    <section class="container">
        <div class="social-network">
            <p class="">
                <a
                    class="link-github"
                    href="https://github.com/ztevenx100"
                    target="_blank"
                    >
                    <svg class="icon">
                        <use xlink:href="/assets/img/svg/social-network.svg#svgGit"/>
                    </svg>
                    <span class="self-baseline text-black">github.com/ztevenx100</span>
                </a>
            </p>
        </div>
    </section>
</footer>