---
import "../../styles/footer.css"
---

<footer class="footer-background">
    <section class="container">
        <div class="social-network">
            <p class="">
                <a
                    class="link-twitch"
                    href="https://twitch.tv/ztevenx100"
                    target="_blank"
                    >
                    <svg class="icon">
                        <use xlink:href="/assets/img/svg/social-network.svg#svgTwitch"/>
                    </svg>
                    <span class="self-baseline text-black">twitch.tv/ztevenx100</span>
                </a>
                <a
                    class="link-twitter"
                    href="https://twitter.com/ztevenx100"
                    target="_blank"
                >
                    <svg class="icon">
                        <use xlink:href="/assets/img/svg/social-network.svg#svgTwitter"/>
                    </svg>
                    <span class="self-baseline text-black">@ztevenx100</span>
                </a>
            </p>
        </div>
    </section>
</footer>