:root {
    --body-bg-color: #13151a;
}

* {
    margin: 0; 
    padding: 0; 
    &, &::before, &::after { 
        box-sizing: border-box; 
    }
}

html {
    font-family: system-ui, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

img, video{
    display: block;
    max-width: 100%;
    height: auto;
}