:root {
    --accent: 240, 13, 13;
    --accent-light: 240, 204, 204;
    --accent-dark: 140, 13, 13;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
    --svg-width: 24px;
    --svg-height: 24px;
    --svg-color: none;
    --svg-fill: none;
    --svg-stroke: none;
    --body-bg-color: #13151a;
}

*, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

img, svg, video, canvas, audio, embed, object {
    vertical-align: middle;
}

iframe{
    /* display: block; */
    vertical-align: middle;
}

.project-page{
    width: 100vw;
    height: 100dvh;
}

.icon{
    display: block;
    width: var(--svg-width, 24px);
    height: var(--svg-height, 24px);
    color: var(--svg-color, #000);
    fill: var(--svg-fill, none);
    stroke: var(--svg-stroke, none);
}
