:root{
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    --tw-rotate: -12deg;
}

svg{
    --svg-width: 1.5rem;
    --svg-height: 1.5rem;
    --svg-color: #fff;
    --svg-fill: #fff;
    --svg-stroke: none;
    margin-right: .25rem;
    border-radius: .25rem;

}

footer{
    display: flex;
    place-content: center;

    & section{
        text-align: center;
        padding: 2.5rem;
        margin-top: 2rem;

        & .social-network{
            display: flex;
            place-content: center;
            gap: .5rem;
            
            & p{
                display: flex;
                align-items: baseline;
                column-gap: .25rem;
                padding: 20px;
                color: rgb(107 114 128 / var(--tw-text-opacity));
                font-size: .8125rem;
                line-height: 1.5rem;
                backdrop-filter: blur(5px);

                & a{
                    position: relative;
                    isolation: isolate;
                    display: flex;
                    align-items: center;
                    column-gap: .125rem;
                    padding-block: .125rem;
                    padding-inline: .5rem;
                    color: #ffffff4d;
                    font-size: .8125rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                    border-radius: .5rem;
                    transition-property: color, transform;
                    transition-timing-function: cubic-bezier(.4,0,.2,1);
                    transition-duration: .15s;
                    
                    &:hover{
                        transform: scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
                    }

                    & span{
                        align-self: baseline;
                        color: rgb(255 255 255 / var(--tw-text-opacity));
                    }

                    &.link-twitch{
                        &:hover{
                            color: rgb(168 85 247 / var(--tw-text-opacity));
                        }
                    }
                    
                    & .link-twitter{
                        &:hover{
                            color: rgb(168 85 247 / var(--tw-text-opacity));
                        }
                    }
                }
            }
        }
    }
}

.footer-background{
    background: radial-gradient(circle, transparent 25%, #111  26%),linear-gradient(0deg, transparent 44%, #8c0d0d 45%, #8c0d0d 55%, transparent 56%), linear-gradient(90deg, transparent 44%, #8c0d0d 45%, #8c0d0d 55%, transparent 56%);
    background-size: 3em 3em;
    background-color: #111;
    opacity: 1
}